.slider-height {
    height: 900px;
    @media #{$lg}{
        height: 700px;
    }
    @media #{$md}{
        height: 650px;
    }
    @media #{$sm}{
        height: 500px;
    }
    @media #{$xs}{
        height: 500px;
    }
}


.slider-height2{
    height: 450px;
    background-size: cover;
    @media #{$md}{
        height: 350px;
    }
    @media #{$sm}{
        height: 260px;
    }
    @media #{$xs}{
        height: 260px;
    }
}
.slider-area2{
    background-image: url(../img/hero/hero2.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
}

.slider-area{
    margin-top: -1px;
    background-image: url(../img/hero/h1_hero.jpg);
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    .hero__caption{
        overflow: hidden;
        @media #{$large1}{
            padding-left: 100px;
        }
        span{
            font-size: 20px;
            font-weight: 500;
            color: #fff;
            display: block;
            margin-bottom: 24px;
            padding-left: 95px;
            position: relative;
            &::before{
                position: absolute;
                content: "";
                width: 75px;
                height: 3px;
                background:$theme-color;
                left: 0;
                top: 52%;
                transform: translateY(-50%);
            }
        }
        h1{
            font-size: 70px;
            font-weight: 900;
            line-height: 1.2;
            color: #fff;
            margin-bottom: 35px;
            @media #{$lg}{
                font-size: 60px;
            }
            @media #{$md}{
                font-size: 50px;
            }
            @media #{$sm}{
                font-size: 40px;
            }
            @media #{$xs}{
                font-size: 35px;
            }
        }
        p{
            font-size: 18px;
            color: #fff;
            margin-bottom: 45px;
            @media #{$lg}{
                font-size: 16px;
            }
        }
    }
    .hero__btn{
        .boxed-btn{
            background: $theme-color;
            color: #fff !important;
            border: 0;
            &:hover{
                background: #fff;
                color: $theme-color !important;
            }
        }
    }
    .slider-active{
        button.slick-arrow {
            position: absolute;
            left: 100px;
            top: 50%;
            transform: translateY(-50%);
            border: 0;
            padding: 0;
            z-index: 2;
            height: 60px;
            width: 60px;
            line-height: 60px;
            border-radius: 50%;
            cursor: pointer;
            font-size: 20px;
            @include transition(.4s);
            color: #a6b4bb;
            background: none;
            margin: 0 auto;
            bottom: 0;   
            border: 1px solid #a6b4bb;
            &:hover{
                border: 1px solid $theme-color;
                color:$theme-color;
            }
        } 
        button.slick-next {
            left: auto;
            right: 100px;
            @media #{$lg}{
                right: 50px;
            }
        }
        button i{
            font-size: 13px;
            position: relative;
            top: -3px;
        }

        .slick-initialized .slick-slide {
            outline: 0;
        }
    }
}