.slider-height {
    height: 900px;
    @media #{$lg}{
        height: 700px;
    }
    @media #{$md}{
        height: 650px;
    }
    @media #{$sm}{
        height: 500px;
    }
    @media #{$xs}{
        height: 500px;
    }
}


.slider-height2{
    height: 450px;
    background-size: cover;
    @media #{$md}{
        height: 350px;
    }
    @media #{$sm}{
        height: 260px;
    }
    @media #{$xs}{
        height: 260px;
    }
}
.slider-area2{
    background-image: url(../img/hero/hero2.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
}

.slider-area{
    margin-top: -1px;
    background-image: url(../img/hero/h1_hero.jpg);
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    .hero__caption{
        overflow: hidden;
        @media #{$large1}{
            padding-left: 100px;
        }
        span{
            font-size: 18px;
            font-family: $font_1;
            font-weight: 500;
            color: #fff;
            letter-spacing: 2px;
            text-transform: uppercase;
            display: block;
            margin-bottom: 20px;
            position: relative;
            padding-left: 70px;
            &::before{
                position: absolute;
                content: "";
                width: 50px;
                height: 2px;
                background: #fff;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        h1{
            font-size: 80px;
            font-weight: 900;
            color: #fff;
            line-height: 1.1;
            margin-bottom: 35px;
            @media #{$lg}{
                font-size: 70px;
            }
            @media #{$md}{
                font-size: 60px;
            }
            @media #{$sm}{
                font-size: 50px;
            }
            @media #{$xs}{
                font-size: 40px;
            }
        }
        p{
            font-size: 20px;
            color: #fff;
            font-weight: 300;
            margin-bottom: 50px;
            @media #{$lg}{
                font-size: 18px;
            }
            @media #{$md}{
                font-size: 16px;
            }
            @media #{$sm}{
                font-size: 16px;
            }
            @media #{$xs}{
                font-size: 16px;
            }
        }
    }
}

.hero__caption{
    .hero-btns{
        .boxed-btn{
            background: transparent;
            color: #fff !important;
            border: 1px solid #fff;
            &:hover{
                background: #fff;
                color: $theme-color !important;
            }
        }
        .boxed-btn-white{
            background: #fff;
            color: $theme-color !important;
            border: 1px solid #fff;
            margin-left: 20px;
            &:hover{
                background: transparent;
                color: #fff !important;
            }
        }
    }
}

// Hero Area 2
.hero-area2{
    .hero__caption{
        span{
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 2px;
            text-transform: uppercase;
            display: block;
            margin-bottom: 20px;
            position: relative;
            padding-left: 70px;
            &::before{
                position: absolute;
                content: "";
                width: 50px;
                height: 2px;
                background: #fff;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        h1{
            font-size: 80px;
            font-weight: 900;
            color: #fff;
            line-height: 1.1;
            margin-bottom: 35px;
            @media #{$lg}{
                font-size: 70px;
            }
            @media #{$md}{
                font-size: 60px;
            }
            @media #{$sm}{
                font-size: 50px;
            }
            @media #{$xs}{
                font-size: 40px;
            }
        }
        p{
            font-size: 20px;
            color: #fff;
            font-weight: 300;
            margin-bottom: 50px;
            @media #{$lg}{
                font-size: 18px;
            }
            @media #{$md}{
                font-size: 16px;
            }
            @media #{$sm}{
                font-size: 16px;
            }
            @media #{$xs}{
                font-size: 16px;
            }
        }
    }
}

// Slider Arrow
.slider-area{
    .hero__caption{
        .slider-arrows{
            position: absolute;
            left: 50%;
            bottom: 50px;
            transform: translateX(-50%);
            button{
                position: relative;
                width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                background: none;
                border: 1px solid #a6b4bb;
                color: #a6b4bb;
                font-size: 20px;
                cursor: pointer;
                @include transition(.4s);
                i{
                    position: relative;
                    top: -3px;
                }
                &:hover{
                    border: 1px solid #fff;
                    color: #fff;
                }
            }
            button.slick-next {
                margin-left: 20px;
            }
        }
    }
}